#conteneur {
    margin: 15px auto;
    width: 900px;
}

table {
margin: 15px;
border: medium solid black;
border-collapse: collapse;
width: 50%;
}

th {
font-family: Andale Mono, monospace;
border: thin solid black;
width: 50%;
padding: 5px;
background-color: #D0E3FA;
}

td {
font-family: Andale Mono, monospace;
border: thin solid black;
width: 50%;
padding: 5px;
text-align: center;
background-color: #ffffff;
}