.contener
{
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;

}

#result_content {
    border-radius: 1px solid black;
    margin-top: 20px;
}